<!--
======================================
; Title: supply-details.component.html
; Author: Chris Gorham
; Date Created: 27 July 2023
; Last Updated: 10 August 2023
; Description: This code supports the HTML functionality for the Supply Details Component
; Sources Used:
; Angular Forms Overview https://angular.io/guide/forms-overview
; Angular Validators https://angular.io/api/forms/Validators
; BezKoder Angular 10 CRUD Application Tutorial https://www.bezkoder.com/angular-10-node-js-express-mysql/
;=====================================
-->

<div class="responsive-container">
  <div *ngIf="currentSupply" class="edit-form">
    <h2>Edit A Supply</h2>
    <form>
      <div class="form-group">
        <label for="itemName">Item Name:</label>
        <input
          type="text"
          class="form-control"
          id="itemName"
          [(ngModel)]="currentSupply.itemName"
          name="itemName">
      </div><br>
      <div class="form-group">
        <label for="purchaseDate">Purchase Date:</label>
        <input
          type="text"
          class="form-control"
          id="purchaseDate"
          [(ngModel)]="currentSupply.purchaseDate"
          name="purchaseDate">
          <br>
        <label for="itemCost">Item Cost:</label>
        <input
          type="text"
          class="form-control"
          id="itemCost"
          [(ngModel)]="currentSupply.itemCost"
          name="itemCost">
          <br>
        <label for="itemTax">Item Tax:</label>
        <input
          type="text"
          class="form-control"
          id="itemTax"
          [(ngModel)]="currentSupply.itemTax"
          name="itemTax">
          <br>
        <label for="itemTotalCost">Item Total Cost:</label>
        <input
          type="text"
          class="form-control"
          id="itemTotalCost"
          [(ngModel)]="currentSupply.itemTotalCost"
          name="itemTotalCost">
          <br>
        <label for="notes">Notes:</label>
        <textarea
            rows="5" cols="30"
            class="form-control"
            id="notes"
            [(ngModel)]="currentSupply.notes"
            name="notes"></textarea>
      </div>
      <br>
      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentSupply.published ? "Received" : "Pending" }}
      </div>
    </form>
    <br><br>
    <button
      type="submit"
      mat-raised-button
      class="theme-button-mini-yellow"
      *ngIf="currentSupply.published"
      (click)="updatePublished(false)"
    >
      Mark Pending
    </button>
    <button
      type="submit"
      mat-raised-button
      *ngIf="!currentSupply.published"
      class="theme-button-mini-orange"
      (click)="updatePublished(true)"
    >
      Mark Received
    </button>
    &nbsp;
    <button
    type="submit"
    mat-raised-button
    class="theme-button-mini"
    (click)="updateSupply()"
  >
    Update
  </button>&nbsp;

    <button class="danger" mat-raised-button (click)="deleteSupply()">
      Delete
    </button>

    <br><br>
    <p class="update-message">{{ message }} </p>
  </div><br><br>

  <div *ngIf="!currentSupply">
    <br>
    <p>Cannot access this Supply...</p>
  </div>
</div>
