/*
======================================
; Title: footer.component.css
; Author: Chris Gorham
; Date Created: 10 September 2023
; Last Updated: 10 September 2023
; Description: This code supports styling for the Footer Component
; Sources Used: N/A
;=====================================
*/

.footer {
  min-height: 150px;
}
