<!--
======================================
; Title: footer.component.html
; Author: Red
; Date Created: 10 September 2023
; Last Updated: 04 February 2026
; Description: This code is for the Footer Component
; Sources Used: N/A
=====================================
-->

<footer class="text-center bg-black font-white footer">
  <div class="container-fluid footer-inner">
    <span class="footer-line">
      &copy; 2026 Florence Mae Gifts, LLC. All rights reserved. Website created and maintained by <a href="https://www.easternshore.ai" target="_blank">Eastern Shore AI, LLC</a>
    </span>
  </div>
</footer>
