<!--
======================================
; Title: footer.component.html
; Author: Chris Gorham
; Date Created: 10 September 2023
; Last Updated: 04 May 2025
; Description: This code is for the Footer Component
; Sources Used: N/A
=====================================
-->

<footer class="text-center bg-black font-white footer">
  <div class="container-fluid">
    <p><br>
      &copy; Copyright 2025. All Rights Reserved.<br>
      Website created and maintained by Chris Gorham
    </p>
  </div>

</footer>
