<!--
======================================
; Title: home.component.html
; Author: Chris Gorham
; Date Created: 13 July 2023
; Last Updated: 31 July 2023
; Description: This code supports functionality for the home page and home component
; Sources Used: N/A
=====================================
-->

<mat-card class="bg-white">
  <mat-card-content>
    <div fxLayout="row wrap">
      <!--User Inputs-->
      <div fxFlex>
        <mat-card class="mat-elevation-z0 bg-white">

          <mat-card-title></mat-card-title>

          <mat-card-content>
          <p class="quick-stats">
          <u><b>2023 Quick Stats</b></u><br><br>
            Total Sales: &nbsp;${{ totalSales2023 }}<br><br>
            Total Etsy Fees:<br><br>
            Total Shipping Costs: ${{ totalShipping2023 }}<br><br>
            Total Supply Costs: <br><br>
            Total Material Costs:<br><br>
            Profit:<br><br>

          </p>

          </mat-card-content>
        </mat-card>
      </div>


      <div fxFlex class="bg-white">
        <mat-card class="bg-white mat-elevation-z0">
          <mat-card-title class="font-white center"></mat-card-title><br><br>
          <mat-card-content class="center"><br><br>


          </mat-card-content>

        </mat-card>
      </div>
    </div>

  </mat-card-content>
</mat-card>
