<!--
======================================
; Title: home.component.html
; Author: Chris Gorham
; Date Created: 13 July 2023
; Last Updated: 31 July 2023
; Description: This code supports functionality for the home page and home component
; Sources Used: N/A
=====================================
-->

<mat-card class="bg-white mat-elevation-z0">
  <mat-card-content>
    <div fxLayout="row wrap">
      <!--User Inputs-->
      <div fxFlex="33" class="padding-right">
        <mat-card class="mat-elevation-z1 bg-white padding-right">

          <mat-card-title></mat-card-title>

          <mat-card-content>
          <div class="quick-stats">
          <u><b>2023 Stats</b></u><br><br>
            <table class="home-table">
              <TR>
                <TD class="left td-padding">Total Number of Sales:</TD>
                <TD class="right td-padding">{{ totalSalesCount2023['COUNT(*)'] || 'N/A' }}</TD>
              </TR>
              <TR>
                <TD class="bg-black font-white"><b>Total Sales Volume:</b></TD>
                <TD class="bg-black font-white"><b>${{ totalSales2023 | number:'1.2-2' }}</b></TD>
              </TR>
              <br><br>
              <TR>
                <TD>Total Etsy Fees:</TD>
                <TD>${{ totalEtsyFees2023 | number:'1.2-2' }}</TD>
              </TR>
              <TR>
                <TD>Total Shipping Costs:</TD>
                <TD>${{ totalShipping2023 | number:'1.2-2' }}</TD>
              </TR>
              <TR>
                <TD>Total Supplies Costs:</TD>
                <TD>${{ suppliesTotal2023 | number:'1.2-2' }}</TD>
              </TR>
              <TR>
                <TD>Total Advertising Costs:</TD>
                <TD>${{ advertsTotal2023 | number:'1.2-2' }}</TD>
              </TR>
              <TR>
                <TD class="bg-black font-white"><b>Total Fees and Costs:</b></TD>
                <TD class="bg-black font-white"><b>{{ '$' + (totalFeesAndCosts2023 | number:'1.2-2') }}</b></TD>
              </TR>
              <br><br>
              <TR>
                <TD class="bg-light-green font-black"><b>Profit:</b></TD>
                <TD class="bg-light-green font-black"><b>{{ '$' + (profit2023 | number:'1.2-2') }}</b></TD>
              </TR>
            </table>


          </div>

          </mat-card-content>
        </mat-card>
      </div>

      <!--Second Column-->
      <div fxFlex="33"class="padding-right">
        <mat-card class="bg-white mat-elevation-z1">
          <mat-card-title></mat-card-title>
          <mat-card-content>
            <div class="quick-stats">
              <u><b>Item Stats</b></u><br><br>
              <table class="home-table">
                <TR>
                  <TD>Total Gohan Hats Sold:</TD>
                  <TD>{{ gohanCount['COUNT(*)'] }}</TD>
                </TR>
                <TR>
                  <TD>Total Gohan Hat Patterns Sold:</TD>
                  <TD>{{ patternCount['COUNT(*)'] }}</TD>
                </TR>
              </table>

            </div><br><br>


          </mat-card-content>

        </mat-card>
      </div>

      <!--Third Column-->
      <div fxFlex="33"class="padding-right">
        <mat-card class="bg-lighter-grey mat-elevation-z1">
          <mat-card-title></mat-card-title>
          <mat-card-content>
            <div class="quick-stats">
              <u><b>All Time Stats</b></u><br><br>
              <table class="home-table">
                <TR>
                  <TD class="left td-padding">Total Number of Sales:</TD>
                  <TD class="right td-padding">{{ totalSalesCount['COUNT(*)'] || 'N/A' }}</TD>
                </TR>
                <TR>
                  <TD class="bg-black font-white"><b>Total Sales Volume:</b></TD>
                  <TD class="bg-black font-white"><b>${{ totalSales | number:'1.2-2' }}</b></TD>
                </TR>
                <br><br>
                <TR>
                  <TD>Total Etsy Fees:</TD>
                  <TD>${{ totalEtsyFees | number:'1.2-2' }}</TD>
                </TR>
                <TR>
                  <TD>Total Shipping Costs:</TD>
                  <TD>${{ totalShipping | number:'1.2-2' }}</TD>
                </TR>
                <TR>
                  <TD>Total Supplies Costs:</TD>
                  <TD>${{ suppliesTotal | number:'1.2-2' }}</TD>
                </TR>
                <TR>
                  <TD>Total Advertising Costs:</TD>
                  <TD>${{ advertsTotal | number:'1.2-2' }}</TD>
                </TR>
                <TR>
                  <TD class="bg-black font-white"><b>Total Fees and Costs:</b></TD>
                  <TD class="bg-black font-white"><b>{{ '$' + (totalFeesAndCosts | number:'1.2-2') }}</b></TD>
                </TR>
                <br><br>
                <TR>
                  <TD class="bg-light-green font-black"><b>Profit:</b></TD>
                  <TD class="bg-light-green font-black"><b>{{ '$' + (profit | number:'1.2-2') }}</b></TD>
                </TR>
              </table>
            </div>

          </mat-card-content>

        </mat-card>
      </div>



  </div>

  </mat-card-content>
</mat-card>
