/*
======================================
; Title: home.component.css
; Author: Chris Gorham
; Date Created: 05 August 2023
; Last Updated: 04 June 2024
; Description: This code supports styling for the Home Component
; Sources Used: N/A
;=====================================
*/

.home-table {
  border: 2px;
  width: 100%;
}

td {
  padding-left: 8px;
  padding-right: 8px;
}

bold {
  font-weight:bolder;
}
