<!--
======================================
; Title: home.component.html
; Author: Chris Gorham
; Date Created: 13 July 2023
; Last Updated: 10 September 2025
; Description: This code supports functionality for the home page and home component
; Sources Used: N/A
=====================================
-->

<mat-card class="bg-white mat-elevation-z0">
  <mat-card-content>
    <div fxLayout="row wrap">

      <!--First Column-->
      <div fxFlex="40" class="padding-right">
        <mat-card class="mat-elevation-z1 bg-light-green padding-right">

          <mat-card-title></mat-card-title>

          <mat-card-content>
          <div class="quick-stats">
            <img src="./assets/monthlystats.png" width="50%" alt="logo that says monthly stats"><hr>
            <table class="home-table">
              <TR class="bg-black font-white">
                <TD></TD>
                <TD><b>2023</b></TD>
                <TD></TD>
                <TD><b>2024</b></TD>
                <TD></TD>
                <TD><b>2025</b></TD>
                <TD></TD>
              </TR>
                <TR>
                <TD><b>JAN</b></TD>
                <TD>{{ jan2023['COUNT(*)'] || '0' }}</TD>
                <TD>{{ jan2023sales || '0' | currency }}</TD>
                <TD>{{ jan2024['COUNT(*)'] || '0' }}</TD>
                <TD>{{ jan2024sales || '0' | currency }}</TD>
                <TD>{{ jan2025['COUNT(*)'] || '-' }}</TD>
                <TD>{{ jan2025sales || '0' | currency }}</TD>
              </TR>
              <TR>
                <TD><b>FEB</b></TD>
                <TD>{{ feb2023['COUNT(*)'] || '0' }}</TD>
                <TD>{{ feb2023sales || '0' | currency }}</TD>
                <TD>{{ feb2024['COUNT(*)'] || '0' }}</TD>
                <TD>{{ feb2024sales || '0' | currency }}</TD>
                <TD>{{ feb2025['COUNT(*)'] || '-' }}</TD>
                <TD>{{ feb2025sales || '0' | currency }}</TD>
              </TR>
              <TR>
                <TD><b>MAR</b></TD>
                <TD>{{ mar2023['COUNT(*)'] || '0' }}</TD>
                <TD>{{ mar2023sales || '0' | currency }}</TD>
                <TD>{{ mar2024['COUNT(*)'] || '0' }}</TD>
                <TD>{{ mar2024sales || '0' | currency }}</TD>
                <TD>{{ mar2025['COUNT(*)'] || '-' }}</TD>
                <TD>{{ mar2025sales || '0' | currency }}</TD>
              </TR>
              <TR>
                <TD><b>APR</b></TD>
                <TD>{{ apr2023['COUNT(*)'] || '0' }}</TD>
                <TD>{{ apr2023sales || '0' | currency }}</TD>
                <TD>{{ apr2024['COUNT(*)'] || '0' }}</TD>
                <TD>{{ apr2024sales || '0' | currency }}</TD>
                <TD>{{ apr2025['COUNT(*)'] || '-' }}</TD>
                <TD>{{ apr2025sales || '0' | currency }}</TD>
              </TR>
              <TR>
                <TD><b>MAY</b></TD>
                <TD>{{ may2023['COUNT(*)'] || '0' }}</TD>
                <TD>{{ may2023sales || '0' | currency }}</TD>
                <TD>{{ may2024['COUNT(*)'] || '0' }}</TD>
                <TD>{{ may2024sales || '0' | currency }}</TD>
                <TD>{{ may2025['COUNT(*)'] || '-' }}</TD>
                <TD>{{ may2025sales || '0' | currency }}</TD>
              </TR>
              <TR>
                <TD><b>JUN</b></TD>
                <TD>{{ jun2023['COUNT(*)'] || '0' }}</TD>
                <TD>{{ jun2023sales || '0' | currency }}</TD>
                <TD>{{ jun2024['COUNT(*)'] || '0' }}</TD>
                <TD>{{ jun2024sales || '0' | currency }}</TD>
                <TD>{{ jun2025['COUNT(*)'] || '-' }}</TD>
                <TD>{{ jun2025sales || '0' | currency }}</TD>
              </TR>
              <TR>
                <TD><b>JUL</b></TD>
                <TD>{{ jul2023['COUNT(*)'] || '0' }}</TD>
                <TD>{{ jul2023sales || '0' | currency }}</TD>
                <TD>{{ jul2024['COUNT(*)'] || '-' }}</TD>
                <TD>{{ jul2024sales || '0' | currency }}</TD>
                <TD>{{ jul2025['COUNT(*)'] || '-' }}</TD>
                <TD>{{ jul2025sales || '0' | currency }}</TD>
              </TR>
              <TR>
                <TD><b>AUG</b></TD>
                <TD>{{ aug2023['COUNT(*)'] || '0' }}</TD>
                <TD>{{ aug2023sales || '0' | currency }}</TD>
                <TD>{{ aug2024['COUNT(*)'] || '-' }}</TD>
                <TD>{{ aug2024sales || '0' | currency }}</TD>
                <TD>{{ aug2025['COUNT(*)'] || '-' }}</TD>
                <TD>{{ aug2025sales || '0' | currency }}</TD>
              </TR>
              <TR>
                <TD><b>SEP</b></TD>
                <TD>{{ sep2023['COUNT(*)'] || '0' }}</TD>
                <TD>{{ sep2023sales || '0' | currency }}</TD>
                <TD>{{ sep2024['COUNT(*)'] || '-' }}</TD>
                <TD>{{ sep2024sales || '0' | currency }}</TD>
                <TD>{{ sep2025['COUNT(*)'] || '-' }}</TD>
                <TD>{{ sep2025sales || '0' | currency }}</TD>
              </TR>
              <TR>
                <TD><b>OCT</b></TD>
                <TD>{{ oct2023['COUNT(*)'] || '0' }}</TD>
                <TD>{{ oct2023sales || '0' | currency }}</TD>
                <TD>{{ oct2024['COUNT(*)'] || '-' }}</TD>
                <TD>{{ oct2024sales || '0' | currency }}</TD>
                <TD>{{ oct2025['COUNT(*)'] || '-' }}</TD>
                <TD>{{ oct2025sales || '0' | currency }}</TD>
              </TR>
              <TR>
                <TD><b>NOV</b></TD>
                <TD>{{ nov2023['COUNT(*)'] || '0' }}</TD>
                <TD>{{ nov2023sales || '0' | currency }}</TD>
                <TD>{{ nov2024['COUNT(*)'] || '-' }}</TD>
                <TD>{{ nov2024sales || '0' | currency }}</TD>
                <TD>{{ nov2025['COUNT(*)'] || '-' }}</TD>
                <TD>{{ nov2025sales || '0' | currency }}</TD>
              </TR>
              <TR>
                <TD><b>DEC</b></TD>
                <TD>{{ dec2023['COUNT(*)'] || '0' }}</TD>
                <TD>{{ dec2023sales || '0' | currency }}</TD>
                <TD>{{ dec2024['COUNT(*)'] || '-' }}</TD>
                <TD>{{ dec2024sales || '0' | currency }}</TD>
                <TD>{{ dec2025['COUNT(*)'] || '-' }}</TD>
                <TD>{{ dec2025sales || '0' | currency }}</TD>
              </TR>
            </table>

          <br>
          </div>
          <!--end of Monthly Stats-->

          <!--start of All-Time Stats-->
          <div class="quick-stats"><br>
            <img src="./assets/alltimestats.png" width="50%" alt="logo that says All-Time Stats"><hr>
            <table class="home-table">
              <TR>
                <TD class="left td-padding">Total Number of Sales:</TD>
                <TD class="right td-padding">{{ totalSalesCount['COUNT(*)'] || 'N/A' }}</TD>
                <!--These extra TDs bring the stats closer together to their text-->
                <TD></TD>
                <TD></TD>
                <TD></TD>
                <TD></TD>
                <TD></TD>
                <TD></TD>
                <TD></TD>
              </TR>
              <TR>
                <TD class="bg-black font-white"><b>Total Sales Volume:</b></TD>
                <TD class="bg-black font-white"><b>{{ totalSales | currency }}</b></TD>
              </TR>
              <br>
              <TR>
                <TD>Total Etsy Fees:</TD>
                <TD>{{ totalEtsyFees | currency }}</TD>
              </TR>
              <TR>
                <TD>Total Shipping Costs:</TD>
                <TD>{{ totalShipping | currency }}</TD>
              </TR>
              <TR>
                <TD>Total Supplies Costs:</TD>
                <TD>{{ suppliesTotal | currency }}</TD>
              </TR>
              <TR>
                <TD>Total Advertising Costs:</TD>
                <TD>{{ advertsTotal | currency }}</TD>
              </TR>
              <TR>
                <TD class="bg-black font-white"><b>Total Fees and Costs:</b></TD>
                <TD class="bg-black font-white"><b>{{ totalFeesAndCosts | currency }}</b></TD>
              </TR>
              <br>
              <TR>
                <TD class="bg-black font-white"><b>Profit:</b></TD>
                <TD class="bg-black font-white"><b>{{ profit | currency }}</b></TD>
              </TR>
            </table>
          </div>

          </mat-card-content>
        </mat-card>
      </div>

      <!--Second Column-->
      <div fxFlex="30" class="padding-right">
        <mat-card class="mat-elevation-z1 bg-light-green padding-right">

          <mat-card-title></mat-card-title>

          <mat-card-content>
          <div class="quick-stats">
            <!--2025-->
            <img src="./assets/2025stats.png" width="50%" alt="logo that says 2025 stats"><hr>
            <table class="home-table">
              <TR>
                <TD class="left td-padding">Total Number of Sales:</TD>
                <TD class="right td-padding">{{ totalSalesCount2025['COUNT(*)'] || '0' }}</TD>
              </TR>
              <TR>
                <TD class="bg-black font-white"><b>Total Sales Volume:</b></TD>
                <TD class="bg-black font-white"><b>{{ totalSales2025 || '0' | currency }}</b></TD>
              </TR>
              <br>
              <TR>
                <TD>Total Etsy Fees:</TD>
                <TD>{{ totalEtsyFees2025 || '0' | currency }}</TD>
              </TR>
              <TR>
                <TD>Total Shipping Costs:</TD>
                <TD>{{ totalShipping2025 || '0' | currency }}</TD>
              </TR>
              <TR>
                <TD>Total Supplies Costs:</TD>
                <TD>{{ suppliesTotal2025 || '0' | currency }}</TD>
              </TR>
              <TR>
                <TD>Total Advertising Costs:</TD>
                <TD>{{ advertsTotal2025 || '0' | currency }}</TD>
              </TR>
              <TR>
                <TD class="bg-black font-white"><b>Total Fees and Costs:</b></TD>
                <TD class="bg-black font-white"><b>{{  totalFeesAndCosts2025 | currency }}</b></TD>
              </TR>
              <br>
              <TR>
                <TD class="bg-black font-white"><b>Profit:</b></TD>
                <TD class="bg-black font-white"><b>{{ profit2025 | currency }}</b></TD>
              </TR>
            </table><br><br><br>
            <!--2024-->
            <img src="./assets/2024stats.png" width="50%" alt="logo that says 2024 stats"><hr>
            <table class="home-table">
              <TR>
                <TD class="left td-padding">Total Number of Sales:</TD>
                <TD class="right td-padding">{{ totalSalesCount2024['COUNT(*)'] || '0' }}</TD>
              </TR>
              <TR>
                <TD class="bg-black font-white"><b>Total Sales Volume:</b></TD>
                <TD class="bg-black font-white"><b>{{ totalSales2024 || '0' | currency }}</b></TD>
              </TR>
              <br>
              <TR>
                <TD>Total Etsy Fees:</TD>
                <TD>{{ totalEtsyFees2024 || '0' | currency }}</TD>
              </TR>
              <TR>
                <TD>Total Shipping Costs:</TD>
                <TD>{{ totalShipping2024 || '0' | currency }}</TD>
              </TR>
              <TR>
                <TD>Total Supplies Costs:</TD>
                <TD>{{ suppliesTotal2024 || '0' | currency }}</TD>
              </TR>
              <TR>
                <TD>Total Advertising Costs:</TD>
                <TD>{{ advertsTotal2024 || '0' | currency }}</TD>
              </TR>
              <TR>
                <TD class="bg-black font-white"><b>Total Fees and Costs:</b></TD>
                <TD class="bg-black font-white"><b>{{  totalFeesAndCosts2024 | currency }}</b></TD>
              </TR>
              <br>
              <TR>
                <TD class="bg-black font-white"><b>Profit:</b></TD>
                <TD class="bg-black font-white"><b>{{ profit2024 | currency }}</b></TD>
              </TR>
            </table><br><br><br>
            <!--2023-->
          <img src="./assets/2023stats.png" width="50%" alt="logo that says 2023 stats"><hr>
            <table class="home-table">
              <TR>
                <TD class="left td-padding">Total Number of Sales:</TD>
                <TD class="right td-padding">{{ totalSalesCount2023['COUNT(*)'] || 'N/A' }}</TD>
              </TR>
              <TR>
                <TD class="bg-black font-white"><b>Total Sales Volume:</b></TD>
                <TD class="bg-black font-white"><b>{{ totalSales2023 | currency }}</b></TD>
              </TR>
              <br>
              <TR>
                <TD>Total Etsy Fees:</TD>
                <TD>{{ totalEtsyFees2023 | currency }}</TD>
              </TR>
              <TR>
                <TD>Total Shipping Costs:</TD>
                <TD>{{ totalShipping2023 | currency }}</TD>
              </TR>
              <TR>
                <TD>Total Supplies Costs:</TD>
                <TD>{{ suppliesTotal2023 | currency }}</TD>
              </TR>
              <TR>
                <TD>Total Advertising Costs:</TD>
                <TD>{{ advertsTotal2023 | currency }}</TD>
              </TR>
              <TR>
                <TD class="bg-black font-white"><b>Total Fees and Costs:</b></TD>
                <TD class="bg-black font-white"><b>{{  totalFeesAndCosts2023 | currency }}</b></TD>
              </TR>
              <br>
              <TR>
                <TD class="bg-black font-white"><b>Profit:</b></TD>
                <TD class="bg-black font-white"><b>{{ profit2023 | currency }}</b></TD>
              </TR>
            </table>


          </div>

          </mat-card-content>
        </mat-card>
      </div>

      <!--Third Column-->
      <div fxFlex="30"class="padding-right">
        <mat-card class="bg-light-green mat-elevation-z1">
          <mat-card-title></mat-card-title>
          <mat-card-content>
            <div class="quick-stats">
              <img src="./assets/itemstats.png" width="50%" alt="logo that says Item Stats"><hr>
              <table class="home-table">
                <TR>



                  <TD class="bg-black font-white">Total Gohan Hats Sold:</TD>
                  <TD class="bg-black font-white">{{ gohanCount['COUNT(*)'] }}</TD>
                </TR>
                <TR>
                  <TD>0-3 months:</TD>
                  <TD>{{ gohan03Count['COUNT(*)'] }}</TD>
                </TR>
                <TR>
                  <TD>3-6 months:</TD>
                  <TD>{{ gohan36Count['COUNT(*)'] }}</TD>
                </TR>
                <TR>
                  <TD>6-9 months:</TD>
                  <TD>{{ gohan69Count['COUNT(*)'] }}</TD>
                </TR>
                <TR>
                  <TD>9-12 months:</TD>
                  <TD>{{ gohan912Count['COUNT(*)'] }}</TD>
                </TR>
                <TR>
                  <TD>12-18 months:</TD>
                  <TD>{{ gohan1218Count['COUNT(*)'] }}</TD>
                </TR>
                <TR>
                  <TD>18-24 months:</TD>
                  <TD>{{ gohan1824Count['COUNT(*)'] }}</TD>
                </TR>
                 <TR>
                  <TD>Youth Small:</TD>
                  <TD>{{ gohanYouthSmallCount['COUNT(*)'] }}</TD>
                </TR>
                <TR>
                  <TD>Youth Large:</TD>
                  <TD>{{ gohanYouthLargeCount['COUNT(*)'] }}</TD>
                </TR>
                <TR>
                  <TD>Adult:</TD>
                  <TD>{{ gohanAdultCount['COUNT(*)'] }}</TD>
                </TR>
                <TR>
                  <TD class="bg-black font-white">Total Luffy Hats Sold:</TD>
                  <TD class="bg-black font-white">{{ luffyCount['COUNT(*)'] }}</TD>
                </TR>
                <TR>
                  <TD>0-3 months:</TD>
                  <TD>{{ luffy03Count['COUNT(*)'] }}</TD>
                </TR>
                <TR>
                  <TD>3-6 months:</TD>
                  <TD>{{ luffy36Count['COUNT(*)'] }}</TD>
                </TR>
                <TR>
                  <TD>6-9 months:</TD>
                  <TD>{{ luffy69Count['COUNT(*)'] }}</TD>
                </TR>
                <TR>
                  <TD>9-12 months:</TD>
                  <TD>{{ luffy912Count['COUNT(*)'] }}</TD>
                </TR>
                <TR>
                  <TD>12-18 months:</TD>
                  <TD>{{ luffy1218Count['COUNT(*)'] }}</TD>
                </TR>
                <TR>
                  <TD>18-24 months:</TD>
                  <TD>{{ luffy1824Count['COUNT(*)'] }}</TD>
                </TR>
                <TR>
                  <TD class="bg-black font-white">Total Rumi Hats Sold:</TD>
                  <TD class="bg-black font-white">{{ rumiCount['COUNT(*)'] }}</TD>
                </TR>
                <TR>
                  <TD class="bg-black font-white">Total Trunks Sets Sold:</TD>
                  <TD class="bg-black font-white">{{ trunksCount['COUNT(*)'] }}</TD>
                </TR>

                <TR>
                  <TD class="bg-black font-white">Total Goku Hats Sold:</TD>
                  <TD class="bg-black font-white">{{ gokuHatCount['COUNT(*)'] }}</TD>
                </TR>
                <TR>
                  <TD class="bg-black font-white">Total Majin Buu Sets Sold:</TD>
                  <TD class="bg-black font-white">{{ majinCount['COUNT(*)'] }}</TD>
                </TR>
                                <TR>
                  <TD class="bg-black font-white">Total Gohan Patterns Sold:</TD>
                  <TD class="bg-black font-white">{{ patternCount['COUNT(*)'] }}</TD>
                </TR>
                                <TR>
                  <TD class="bg-black font-white">Total Goku Patterns Sold:</TD>
                  <TD class="bg-black font-white">{{ patternGokuCount['COUNT(*)'] }}</TD>
                </TR>
              </table>

            </div>


          </mat-card-content>

        </mat-card>
      </div>





  </div>
  <!--This puts some space between the bottom of the page and the footer-->
  <br><br><br><br><br><br><br><br><br>
  <!--end-->
  </mat-card-content>
</mat-card>
