/*
======================================
; Title: sign-in.component.css
; Author: Chris Gorham
; Date Created: 26 July 2023
; Last Updated: 26 July 2023
; Description: This code supports login functionality
; Sources Used:
; Bellevue University WEB-425 Exercise 7.2 Instructions
;=====================================
*/

.signin-container {
  width: 35%;
  margin: 15% auto;
}

.msg-error {
  margin: 10px 0;
  padding: 12px;
  color: #D8000C;
  background-color: #FFD2D2;
}

.signin-container > mat-card-title, mat-card-subtitle {
  text-align: center;
}

.center {
  text-align: center;
}

