/*
======================================
; Title: advert-list.component.css
; Author: Chris Gorham
; Date Created: 05 August 2023
; Last Updated: 05 August 2023
; Description: This code supports CSS styling for the advert list component
; Sources Used: N/A
;=====================================
*/

.black-header {
  background-color: black;
}

.white-text {
  color: white;
}

.table {
  padding: 20px;
  border: 1px;
}


.collapsible {
  overflow: hidden;
}

section {
  width: 360px;
  background-color: lightgray;
  font: 16px/20px sans-serif;
  box-sizing: border-box;
}

section.collapsible {
  color: white;
  background-color: coral;
}


.button-position {
text-align: right;
padding-right: 300px;
}


.orange {
  background-color: orange;
  color: black;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid;
  list-style: none;
  margin-bottom: 4px;
  cursor: pointer;
}

.yellow {
  background-color: #FFF000;
  color: black;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid;
  margin-bottom: 4px;
  cursor: pointer;
}

.advert {
  font-size: large;
  font-weight: bold;
}

.refresh {
  text-align: end;
}

.advert-charge {
  text-align: end;
  font-size: medium;
  font-weight: bold;
}
