/*
======================================
; Title: add-advert.component.css
; Author: Red
; Date Created: 05 August 2023
; Last Updated: 05 August 2023
; Description: This code supports styling for the Add Advert Component
; Sources Used: N/A
;=====================================
*/

.advert-description-width {
  width: 50%;
}
