<!--
======================================
; Title: add-advert-dialog.component.html
; Author: Chris Gorham
; Date Created: 13 August 2023
; Last Updated: 13 August 2023
; Description: This code supports the HTML functionality for the Add Advert Dialog Component
; Sources Used:
; Angular Dialog Tutorial https://www.techiediaries.com/angular-material-dialogs/
;=====================================
-->

<h2 mat-dialog-title>Success!</h2>

<mat-dialog-content>

<p> Your advert was submitted successfully! </p>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button theme-button" (click)="close()">Close</button><br><br><br>
</mat-dialog-actions>
