<!--
======================================
; Title: base-layout.component.html
; Author: Chris Gorham
; Date Created: 13 July 2023
; Last Updated: 02 December 2023
; Description: This code sets up the nav bar and base layout
; Sources Used: N/A
=====================================
-->

<app-nav></app-nav>

<main>
  <br>
  <div fxLayout="row wrap">
    <div fxFlex>
      <mat-card class="main-container bg-white">
        <mat-card-title class="main-font font-black center"></mat-card-title>
        <mat-card-content>
          <router-outlet></router-outlet>
        </mat-card-content>
      </mat-card>

      <!--BR creates a space between the Home Card and the footer-->
      <br>

    </div>
  </div>

</main>


<app-footer></app-footer>
