<!--
======================================
; Title: base-layout.component.html
; Author: Chris Gorham
; Date Created: 13 July 2023
; Last Updated: 10 August 2023
; Description: This code sets up the nav bar and base layout
; Sources Used: N/A
=====================================
-->

<mat-toolbar class="bg-black">
  <mat-toolbar-row>
    <div class="logo">
      <img routerLink="/" src="./assets/logo.png" height="40" class="padding-right pointer">
    </div>
    <div style="width: 80%">
      <div fxLayout="row wrap" fxLayoutAlign="end start" class="font-white">
        <!--nav bar buttons start-->
        <button mat-button routerLink="/">Home</button>
        <button mat-button routerLink="/sales">Sales</button>
        <button mat-button routerLink="/supplies">Supplies</button>
        <button mat-button routerLink="/advertising">Advertising</button>
        <button mat-button routerLink="/taxes">Taxes</button>
        <button mat-button routerLink="/stats">Stats</button>
        <button mat-button routerLink="/about">About</button>
        <button mat-button routerLink="/contact">Contact</button>
        <button mat-button (click)="signOut()">Sign Out</button>
        <!--nav bar buttons end-->
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card class="main-container bg-white">
      <mat-card-title class="main-font font-black center"></mat-card-title>
      <br><br>
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>
</div>

