/*
======================================
; Title: sales-list.component.css
; Author: Red
; Date Created: 15 July 2023
; Last Updated: 17 January 2026
; Description: This code supports CSS functionality for the Sales list component
; Sources Used: N/A
;=====================================
*/

.black-header {
  background-color: black;
}

.white-text {
  color: white;
}

.table {
  padding: 20px;
  border: 1px;
}


.collapsible {
  overflow: hidden;
}

section {
  width: 100%;
  max-width: 400px;
  background-color: lightgray;
  font: 16px/20px sans-serif;
  box-sizing: border-box;
}

section.collapsible {
  color: white;
  background-color: coral;
}


.button-position {
  text-align: right;
  padding-right: 10%;
}


.orange {
  background-color: orange;
  color: black;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid;
  list-style: none;
  margin-bottom: 4px;
  cursor: pointer;
}

.yellow {
  background-color: #FFF000;
  color: black;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid;
  margin-bottom: 4px;
  cursor: pointer;
}

.sale {
  font-size: medium;
  font-weight: bold;
}

.profit {
  text-align: end;
  font-size: medium;
  font-weight: bold;
}

.refresh {
  text-align: end;
}

.addItemDescription {
  text-align: center;
}

.addItemInput {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  border: 1px solid;
}


.right {
  text-align: right;
}

/* Responsive styles */

/* Tablets (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .button-position {
    padding-right: 2%;
    text-align: center;
  }

  .sale {
    font-size: small;
  }

  .profit {
    font-size: x-small;
  }

  .orange, .yellow {
    padding: 6px;
    font-size: 12px;
  }

  .refresh {
    text-align: center;
    margin-top: 10px;
  }
}

/* Small screens (1025px to 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
  .button-position {
    padding-right: 5%;
  }

  .sale {
    font-size: medium;
  }

  .profit {
    font-size: small;
  }

  .orange, .yellow {
    padding: 8px;
  }
}

@media (min-width: 1601px) {
  .button-position {
    padding-right: 15%;
  }

  .sale {
    font-size: large;
  }

  .profit {
    font-size: medium;
  }

  .orange, .yellow {
    padding: 12px;
  }
}
