/*
======================================
; Title: styles.css
; Author: Chris Gorham
; Date Created: 13 July 2023
; Last Updated: 17 January 2026
; Description: This code supports CSS styling for the entire app
; Sources Used: N/A
;=====================================
*/

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-bottom: 50px; /* Space for fixed footer */
}

.smaller-text {
  font-size: smaller;
}

/* backgrounds */
.bg-light-green {
  background-color: lightgreen;
}

.bg-grey {
  background-color: #5d5d5d;
}

.bg-lighter-grey {
  background-color: grey;
}

.bg-very-light-grey {
  background-color: #d0d0d0;
}

.bg-yellow {
  background-color: yellow;
}

.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}

/* font colors */

.font-white {
  color:white;
}

.font-yellow {
  color: yellow;
}

.font-black {
  color: black;
}

/* paddings */

.padding-right {
  padding-right: 60px;
}

.padding-left {
  padding-left: 20px;
}

.medium-padding-left {
  padding-left: 100px;
}

.big-padding-left {
  padding-left: 200px;
}

.padding-top {
  padding-top: 10px;
}

.padding-standard {
  padding: 10px;
}

.edit-padding-left {
  padding-left: 225px;
}


/* floats */

.float-right {
  float: right;
}

.float-left {
  float: left;
}


/* other stuff */

.center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.logo {
  margin-top: 5px;
}

.main-container {
  padding-top: 25px;
  width: 90%;
  margin: 0 auto;
}

.msg-error {
  margin: 10px 0;
  padding: 12px;
  color: #D8000C;
  background-color: #FFD2D2;
}

.pointer {
  padding: 1px;
}

.pointer:hover {
  cursor: pointer;
}

.left-side {
  width: 50%;
}

.button-width {
  width: 35%;
}

.comments {
  height: 100px;
}

.quick-stats {
  font-size: large;
  color: black;
}

.main-font {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 28px;
}

/* Buttons */

.theme-button {
  font-size: 18px;
  border: none;
  background: lightgreen;
  color: black;
  padding: 10px 15px;
  cursor: pointer;
  width: 200px;
  border-radius: 4px;
}

.theme-button-mini {
  font-size: 16px;
  border: none;
  background: lightgreen;
  color: black;
  padding: 5px 10x;
  cursor: pointer;
  width: 175px;
  border-radius: 4px;
}

.theme-button-mini-yellow {
  font-size: 16px;
  border: none;
  background: #FFF000;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  width: 175px;
  border-radius: 4px;
  text-align: center;
}

.theme-button-mini-orange {
  font-size: 16px;
  border: none;
  background: orange;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  width: 175px;
  border-radius: 4px;
}

.danger {
  font-size: 16px;
  border: none;
  background: red;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  width: 175px;
  border-radius: 4px;
}

.update-message {
  font-weight: bold;
  width: 50%;
  background-color: lightgoldenrodyellow;
  border-radius: 25px;
  text-align: center;
}

/* pagination styling */
.paginate .ngx-pagination .current {
  background: lightgreen;
  color: black;
}

.notes-width {
  width: 65%;
}

/* ==========================================
   RESPONSIVE DESIGN - Screen Size Breakpoints
   ========================================== */

/* Tablets (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .main-container {
    width: 98%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .padding-right {
    padding-right: 10px;
  }

  .padding-left {
    padding-left: 10px;
  }

  .medium-padding-left {
    padding-left: 15px;
  }

  .big-padding-left {
    padding-left: 25px;
  }

  .edit-padding-left {
    padding-left: 25px;
  }

  .theme-button {
    width: 140px;
    font-size: 14px;
    padding: 8px 10px;
  }

  .theme-button-mini,
  .theme-button-mini-yellow,
  .theme-button-mini-orange,
  .danger {
    width: 120px;
    font-size: 13px;
    padding: 5px 8px;
  }

  .left-side {
    width: 100%;
  }

  .button-width {
    width: 50%;
  }

  .quick-stats {
    font-size: small;
  }

  .notes-width {
    width: 100%;
  }

  .update-message {
    width: 80%;
  }
}

/* Small screens (1025px to 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
  .main-container {
    width: 95%;
    padding-top: 15px;
  }

  .padding-right {
    padding-right: 20px;
  }

  .medium-padding-left {
    padding-left: 30px;
  }

  .big-padding-left {
    padding-left: 50px;
  }

  .edit-padding-left {
    padding-left: 50px;
  }

  .theme-button {
    width: 160px;
    font-size: 16px;
    padding: 8px 12px;
  }

  .theme-button-mini,
  .theme-button-mini-yellow,
  .theme-button-mini-orange,
  .danger {
    width: 140px;
    font-size: 14px;
  }

  .left-side {
    width: 60%;
  }

  .button-width {
    width: 45%;
  }

  .quick-stats {
    font-size: medium;
  }
}

/* Medium screens (1201px to 1600px) */
@media (min-width: 1201px) and (max-width: 1600px) {
  .main-container {
    width: 92%;
  }

  .padding-right {
    padding-right: 40px;
  }

  .medium-padding-left {
    padding-left: 60px;
  }

  .big-padding-left {
    padding-left: 120px;
  }

  .edit-padding-left {
    padding-left: 140px;
  }

  .theme-button {
    width: 180px;
  }

  .theme-button-mini,
  .theme-button-mini-yellow,
  .theme-button-mini-orange,
  .danger {
    width: 160px;
  }
}

/* Large screens (1601px and above) */
@media (min-width: 1601px) {
  .main-container {
    width: 85%;
    max-width: 1800px;
  }

  .padding-right {
    padding-right: 80px;
  }

  .medium-padding-left {
    padding-left: 120px;
  }

  .big-padding-left {
    padding-left: 250px;
  }

  .edit-padding-left {
    padding-left: 280px;
  }

  .theme-button {
    width: 220px;
    font-size: 20px;
  }

  .theme-button-mini,
  .theme-button-mini-yellow,
  .theme-button-mini-orange,
  .danger {
    width: 190px;
    font-size: 18px;
  }

  .quick-stats {
    font-size: x-large;
  }
}

/* Responsive container utility */
.responsive-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .responsive-container {
    width: 98%;
    max-width: none;
    padding: 0 10px;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .responsive-container {
    width: 95%;
    max-width: none;
  }
}

@media (min-width: 1601px) {
  .responsive-container {
    max-width: 1200px;
  }
}
